# Игнорировать папку node_modules и её содержимое
node_modules/

# Игнорировать папку сборки проекта
dist/

# Игнорировать файлы логов
*.log

# Игнорировать файлы с настройками проекта
.env
.env.local
.env.*.local

# Игнорировать файлы с исходными картами sourcemaps
*.map

# Игнорировать временные файлы
*.tmp

# Игнорировать файлы конфигурации IDE
.idea/
.vscode/

# Игнорировать файлы кэша
.cache/
.nuxt/
yarn-error.log

# Игнорировать файлы зависимостей пакетного менеджера
yarn.lock
package-lock.json
npm-debug.log*

# Игнорировать файлы результата тестирования
coverage/
.nyc_output/

# Игнорировать файлы с именами файловых систем
.DS_Store
Thumbs.db

# Игнорировать файлы локализации
*.bak
*.backup
